<mat-card class="example-card">
    <mat-card-header>
        Upload
    </mat-card-header>

    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-around center" style="padding-top: 30px;">

            <div class="width-100">
                <div>
                    <mat-form-field class="float-left">
                        <mat-label>Type</mat-label>
                        <mat-select [value]="selectedType" (selectionChange)="selectedType=$event.value">
                            <mat-option [value]="''">
                                Select
                            </mat-option>
                            <mat-option [value]="type.value" *ngFor="let type of types">
                                {{type.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <input class="float-left" type="file" #input placeholder="Input">

            </div>
            <div class="width-100">
                <button mat-raised-button color="primary" (click)="ReadFileData(input)" class="float-right">Read
                    Data</button>
            </div>

        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>